#content {
  position: absolute;
  top: 10vh;
  right: 0;
  bottom: 0;
  left: 120px;
}
#snav,
#topMain {
  z-index: 1111111111;
}
#semicontent {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
